@import '../utils/variables';


/*Seccion titulo principal, imagen de portada principal*/
.main-cover-page {
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 600px;
    background: linear-gradient(310deg, #0000005d, #2f303a94),
    url("./images-css/imagenfondo.jpg");
    background-size: cover;

    &__title{
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        color: $primary-white-color;
        padding: 200px 310px 0px 310px;
      }

      &__button {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        color: $primary-white-color;
        margin-top: 48px;
        width: 225px;
        height: 55px;
        cursor: pointer;
        background: $main-color;
        border-radius: 4px;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      }

      &__button:hover {
        background: $accent-color-hover;
      }
  }
  
 
  
  